<div *ngIf="isLogged && athletes" style="margin: 20px;">
  <div class="btn-group" dropdown>
    <button
      id="button-basic"
      dropdownToggle
      type="button"
      class="btn btn-info dropdown-toggle"
      aria-controls="dropdown-basic">
      {{params.length}}
      <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li *ngFor="let item of itemsPerPage" role="menuitem">
        <a class="dropdown-item" (click)="setItemsPerPage(item)">
          {{item}}
        </a>
      </li>
    </ul>
  </div>

  <ag-grid-angular 
    style="width: 100%; height: 450px;" 
    class="ag-theme-balham"
    [rowData]="athletes" 
    [columnDefs]="columnDefs">
  </ag-grid-angular>
</div>

<div *ngIf="!isLogged" class="access-denided">
  <strong>Please, log in to the system first to see athletes!</strong>
</div>
  