.login-container {
    width: 40%;
    margin: 0 auto;
    padding: 25px;
    background-color: #faf5fa;

    button {
        background-color: #563d7c;
        color: white;
    }

    .error-msg {
        color: red;
    }
    
    .disabled {
        border: 1px solid #563d7c;
        background-color: #cccccc;
        color: #666666;
        cursor: no-drop;
    }
}

.login-notification {
    padding: 10px 20px;
    text-align: center;
}
