<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <div *ngIf="isLogged" class="btn-group" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic">
          CRM
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="/teams">Teams</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/athletes">Athletes</a></li>
        </ul>
      </div>
      <li class="nav-item logo">
        <a class="nav-link" routerLink="/"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/webinars">Webinars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/terms">Terms Of Service</a>
      </li>
    </ul>

    <button *ngIf="isLogged" (click)="logOut()" class="btn my-2 my-sm-0">
      Logout
    </button>
    <button *ngIf="!isLogged" (click)="logIn()" class="btn my-2 my-sm-0">
      Login
    </button>
    <span *ngIf="isLogged && userName">Hello, {{userName}}</span>
  </div>
</nav>
